body, nav, li, ul, a, h2, h3, p, img, ol {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;

} 

img {
  object-fit: cover;
}

span {
  color: #ED3237;
}

.header-bg {
  background: url(../imagens/imagemhome.png) center center no-repeat;
  background-size: cover;
  display: block;
  width: 100vw;
  height: 90vh;
  position: relative;
  overflow: hidden;
}

.header-nav {
  display: flex;
  box-sizing: border-box;
  max-width: 1200px;
  padding: 10px 50px;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background: #FBFBFB;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8); /* Pequena sombra para destacar */
}

.header-links li {
  display: inline;
  margin: 15px;
}

.header-links a {
  display: inline-block;
  padding: 10px;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #353535;
  font-weight: 600;
  position: relative;
  border-radius: 5px;
  
}

.header-links a:hover {
  background: #D2DADE;
  
}


.header-titulo {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: "pridi", Arial, Helvetica, sans-serif;
  font-size: 3em;
  color: #FBFBFB;
}

@media (max-width: 1280px){

  .header-nav{
    max-width: 90vw;
    padding: 5px 60px;
  }

  .header-titulo {
    font-size: 3em;
    line-height: 1.3;
  }
  .header-links a {
    font-size: 1em;
  }
}

@media (max-width: 800px){

  .header-nav{
    text-align: center;
    display: block;
    max-width: 90vw;
    padding: 5px 30px;
  }
  .header-links a {
    font-size: 1em;
  }
  .header-titulo {
    font-size: 2em;
  }
}

@media (max-width: 600px){
  .header-nav{
    max-width: 90vw;
    padding: 5px 60px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .header-titulo {
    font-size: 1.8em;
    line-height: 1.3;
  }
  .header-links a {
    font-size: 0.8em;
  }
  
}

@media (max-width: 480px) {
  /* Ajuste da barra de navegação */
  .header-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px; /* Ajustado para reduzir o tamanho do fundo */
    background: #FBFBFB; /* Garantir que o fundo seja visível */
    border-radius: 5px;
    
    margin-bottom: 100%; /* Menos espaço abaixo da barra de navegação */
  }

  /* Logo */
  .header-logo img {
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;  /* Menos espaço entre logo e links */
  }

  /* Ajuste dos links */
  .header-links ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    gap: 10px;  /* Ajuste o gap para que os links fiquem mais próximos */
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .header-links li {
    display: block;
    margin-bottom: 0; /* Sem margem adicional nos itens */
  }

  .header-links a {
    font-size: 0.9em;
    padding: 8px 12px; /* Ajustado para melhorar o espaço do texto dentro do botão */
    display: block;
    text-align: center;
    background-color: #FBFBFB; /* Fundo para o link */
    border-radius: 5px;
  }

  .header-links a:hover {
    background-color: #D2DADE; /* Cor de hover para o fundo */
  }

  .header-bg {
    height: auto; /* Permite que a altura se ajuste ao conteúdo */
    
  }

  .header-titulo {
    font-size: 1.6em;
    line-height: 1.5;
  }
}


