body,
nav,
li,
ul,
a,
h2,
h3,
p,
img {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.servicos-bg {
  background: #202020;
  position: relative;
}

.servicos-bg::after {
  content: '';
  display: block;
  width: 130px;
  height: 100px;
  background: url(../imagens/deco.svg) no-repeat center;
  position: absolute;
  top: -50px;
  right: 100px;
}

.servico-titulo {
  font-family: "pridi", Arial, Helvetica, sans-serif;
  font-size: 3em;
  color: #f3f3f3;
  padding-top: 48px;
  margin-bottom: 48px;
  margin-left: 100px;
}

.servicos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
  margin-left: 50px;
  margin-right: 50px;
}

.servicos > div {
  flex: 1 1 200px;
  text-align: center;
  margin: 0 0 32px 0;
}

.servicos img {
  width: 100%;
  height: auto;
}

h5 {
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-size: 1.7em;
  color: #FBFBFB;
  margin-bottom: 16px;
  margin-top: 8px;
}

.servicos p {
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  color: #D2DADE;
  max-width: 90%;
  margin: 0 auto 24px auto;
  line-height: 1.5;
}

/* RESPONSIVO */

@media (max-width: 800px) {
  .servico-titulo {
    font-size: 2.4em;
    text-align: center;
    margin-left: 0;
    padding-top: 24px;
    margin-bottom: 32px;
  }
}

@media (max-width: 600px) {
  .servicos-bg::after {
    display: none;
  }

  .servico-titulo {
    font-size: 2em;
    padding-top: 16px;
    margin-bottom: 24px;
  }
}
